registry=http://gtsnexus.liquidnet.com/repository/npm-group/
always-auth=true
//gtsnexus.liquidnet.com/repository/npm-group/:_authToken=NpmToken.959ec302-1917-350a-9f45-3e08bb64bd5d
//gtsnexus.liquidnet.com/repository/npm-hosted/:_authToken=NpmToken.959ec302-1917-350a-9f45-3e08bb64bd5d
@vaadin/vaadin-usage-statistics:disabled=true
